﻿@{
    ViewData["Title"] = "Examin DevOps";
}

<div class="text-center">

    
    <h1>maroua el alami</h1>
    <h1>Hello exam Devops</h1>
    <h1>Wissal Hammoumi G31 </h1>
    <h1>AMINE SABRI</h1>

    <h1>Loubna El B'zioui'</h1>
</div>
