@{
    ViewData["Title"] = "Examin DevOps";
}

<div class="text-center">



    <h1>Hello exam Devops</h1>

    <h1>AMINE SABRI G3/G31</h1>
    <h1> El Hor Ayman </h1>
    <h1>AMINA TEMRI</h1>

</div>
