@{
    ViewData["Title"] = "Examin DevOps";
}

<div class="text-center">
    <h1>loubna el bzioui</h1>

    <h1>Mahid Mohammed Amine</h1>

    <h1 style ="color:purple; font-weight:bold;">Firdaous Nouri G3 CENTRE 4IIR </h1>
    <h1>Hello exam Devops</h1>
 
    <h2>El Hor Ayman</h2>
    <h1>Hamza Maanaoui</h1>

    teste
    <h2>maroua el alami g31</h2>

    <h1>Mehdi Niyya G3/G31</h1>
    <h1>HAMZA MAANOOUI G3/G31</h1>


    <h1>Soukaina Battah</h1>

    <h1>Wissal Hammoumi G31 :)</h1>
    <h1>Ettaoubbali Anas G31</h1>
 
    


    <h1>AMINE SABRI G3/G31</h1>

    <h1> El Hor Ayman </h1>
    <h1>AMINA TEMRI</h1>

 main


</div>
