@{
    ViewData["Title"] = "Examin DevOps";
}

<div class="text-center">



    <h1>Hello exam Devops</h1>
<<<<<<< HEAD
    <h2>El Hor Ayman</h2>

=======

    <h1>AMINE SABRI G3/G31</h1>
>>>>>>> d2ef8e702d06d7ac60546ebac9f3633fa1988775

</div>
