@{
    ViewData["Title"] = "Examin DevOps";
}

<div class="text-center">

    <h1>Hello exam Devops</h1>
    <h1>Yasser Bnouhajar</h1>
    <h1>Youssef asad</h1>
    <h1>OUMOUDID Youssef</h1>

    <h1>Hello Devops</h1>

    <h1>Hello exam Devops</h1>
    <h1>Yasser Bnouhajar</h1>
    <h1>OUMOUDID Youssef</h1>

</div>
